<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model原理</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <select v-model="msg" multiple>
            <option value="" disabled>请选择</option>
            <option v-for="item in list" :value="item.price">{{item.name}}</option>
        </select>

        <p>{{msg}}</p>
        
    </div>

    <script>
        var app = new Vue({
            el:"#app",
            data:{
                msg:"",
                list:[
                    {
                        name:"活着",
                        price:15
                    },
                    {
                        name:"斗破苍穹",
                        price:16
                    },
                    {
                        name:"昆仑",
                        price:17
                    }
                ]
                
            }
        });

    </script>
    
</body>
</html>